.text{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
    font-size: 30px;
    color: white;
    margin-left: 2%;
    margin-right: 2%;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.container-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    gap: 100px;
}

.background{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    color: white;
}

.background > img{
    border: 2px solid white;
}

.scale-img, .scaleX-img, .rotate-img, .translateX-img{
    width: 40%;
    transition: 0.50s all;
}


.scale-img:hover{
    transform: scale(0.75);
}

.scaleX-img:hover{
    transform: scaleX(0.5);
}

.rotate-img:hover{
    transform: rotate(50deg);
}

.translateX-img:hover{
    transform: translateX(45px);
}

















@media (max-width:600px) {
    
.scale-img, .scaleX-img, .rotate-img, .scaleX-img{
    width: 60%;
}

}