.main-con{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.main-con-style{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: white;
    transition: all .5s;
}

#page1,#page2,#page3{
    display: none;
}

#page1:checked ~ .main-con > .main-con-style > .con1-main{
    opacity: 1;
    z-index: 76;
}

#page2:checked ~ .main-con > .main-con-style > .con2-myProjects{
    opacity: 1;
    z-index: 76;
}

#page3:checked ~ .main-con > .main-con-style > .con3-courses{
    opacity: 1;
    z-index: 76;
}

.con1-main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 270vh;
    background-color: white;
    position: absolute;
    top: 10vh;
    z-index: 75;
    opacity: 0;
    transition: all .5s;
}

.con1-sec1{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90vh;
    background-color: #FFFFFF;
    transition: all .5s;
}



.con1-sec2{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90vh;
    background-color: #FFFBEB;
    transition: all .5s;
}

.con1-sec3{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90vh;
    background-color: #FFF3C2;
    transition: all .5s;
}

.con2-myProjects{
    width: 100%;
    height: 270vh;
    background-color: aqua;
    position: absolute;
    top: 10vh;
    z-index: 74;
    opacity: 0;
    transition: all .5s;
}

.con3-courses{
    width: 100%;
    height: 270vh;
    position: absolute;
    background-color: aquamarine;
    top: 10vh;
    z-index: 73;
    opacity: 0;
    transition: all .5s;
}