/* light dark mode btn pc display */

#LD-checker:checked ~ .navbar > .navbar-style > .nav-right-side > .light-dark > .LD-container > .LD-ball{
    transform: translateX(15px);
    background-color: white;
}

#LD-checker:checked ~ .navbar > .navbar-style > .nav-right-side > .light-dark > .LD-container{
    background-color: #333;
    border: 2px solid #FFF;
}

#LD-checker:checked ~ .navbar > .navbar-style > .nav-right-side > .light-dark > .LD-container > .Light-imgW{
    display: flex;
}

#LD-checker:checked ~ .navbar > .navbar-style > .nav-right-side > .light-dark > .LD-container > .Light-img{
    display: none;
}

#LD-checker:checked ~ .navbar > .navbar-style > .nav-right-side > .light-dark > .LD-container > .Dark-imgW{
    display: flex;
}

#LD-checker:checked ~ .navbar > .navbar-style > .nav-right-side > .light-dark > .LD-container > .Dark-img{
    display: none;
}

/* light dark mode btn mobile display */

#LD-checker:checked ~ .navbar > .navbar-style > .nav-mobile-style > .nav-items > .light-dark > .LD-container > .LD-ball{
    transform: translateX(15px);
    background-color: white;
}

#LD-checker:checked ~ .navbar > .navbar-style > .nav-mobile-style > .nav-items > .light-dark > .LD-container{
    background-color: #333;
    border: 2px solid #FFF;
}

#LD-checker:checked ~ .navbar > .navbar-style > .nav-mobile-style > .nav-items > .light-dark > .LD-container > .Light-imgW{
    display: flex;
}

#LD-checker:checked ~ .navbar > .navbar-style > .nav-mobile-style > .nav-items > .light-dark > .LD-container > .Light-img{
    display: none;
}

#LD-checker:checked ~ .navbar > .navbar-style > .nav-mobile-style > .nav-items > .light-dark > .LD-container > .Dark-imgW{
    display: flex;
}

#LD-checker:checked ~ .navbar > .navbar-style > .nav-mobile-style > .nav-items > .light-dark > .LD-container > .Dark-img{
    display: none;
}

/* navbar pc display */

#LD-checker:checked ~ .navbar > .navbar-style{
    border-bottom: 2px solid #FFF;
}

#LD-checker:checked ~ .navbar > .navbar-style > .nav-logo{
    color: #333;
}

#LD-checker:checked ~ .navbar > .navbar-style > .sandwich > .line1{
    background-color: #333;
}

#LD-checker:checked ~ .navbar > .navbar-style > .sandwich > .line2{
    background-color: #333;
}

#LD-checker:checked ~ .navbar > .navbar-style > .sandwich > .line3{
    background-color: #333;
}

/* navbar mobile display */

#LD-checker:checked ~ .navbar > .navbar-style > .nav-mobile-style > .nav-items{
    border-left: 2px solid #FFF;
}

/* pages */
/* for pc */

#page1:checked ~ .navbar > .navbar-style > .nav-right-side > .text-pos1 > .nav-text{
    color: #333;
}

#page1:checked ~ .navbar > .navbar-style > .nav-right-side > .text-pos1 > .line{
    background-color: #333;
    width: 100%;
}

#page2:checked ~ .navbar > .navbar-style > .nav-right-side > .text-pos2 > .nav-text{
    color: #333;
}

#page2:checked ~ .navbar > .navbar-style > .nav-right-side > .text-pos2 > .line{
    background-color: #333;
    width: 100%;
}

#page3:checked ~ .navbar > .navbar-style > .nav-right-side > .text-pos3 > .nav-text{
    color: #333;
}

#page3:checked ~ .navbar > .navbar-style > .nav-right-side > .text-pos3 > .line{
    background-color: #333;
    width: 100%;
}

/* for mobile */

#page1:checked ~ .navbar > .navbar-style > .nav-mobile-style > .nav-items > .text-pos1 > .nav-text{
    color: #333;
}

#page1:checked ~ .navbar > .navbar-style > .nav-mobile-style > .nav-items > .text-pos1 > .line{
    background-color: #333;
    width: 100%;
}

#page2:checked ~ .navbar > .navbar-style > .nav-mobile-style > .nav-items > .text-pos2 > .nav-text{
    color: #333;
}

#page2:checked ~ .navbar > .navbar-style > .nav-mobile-style > .nav-items > .text-pos2 > .line{
    background-color: #333;
    width: 100%;
}

#page3:checked ~ .navbar > .navbar-style > .nav-mobile-style > .nav-items > .text-pos3 > .nav-text{
    color: #333;
}

#page3:checked ~ .navbar > .navbar-style > .nav-mobile-style > .nav-items > .text-pos3 > .line{
    background-color: #333;
    width: 100%;
}



/* Main container */

#LD-checker:checked ~ .main-con > .main-con-style > .con1-main > .con1-sec1{
    background-color: #333;
}

#LD-checker:checked ~ .main-con > .main-con-style > .con1-main > .con1-sec2{
    background-color: #333;
}

#LD-checker:checked ~ .main-con > .main-con-style > .con1-main > .con1-sec3{
    background-color: #333;
}

/* Main - page 1 - sec 1 */

#LD-checker:checked ~ .main-con > .main-con-style > .con1-main > .con1-sec1 > .sec1-inf{
    border: 2px solid #FFF;
}

#LD-checker:checked ~ .main-con > .main-con-style > .con1-main > .con1-sec1 > .sec1-inf > .sec1-logo{
    border: 2px solid #FFF;
}

#LD-checker:checked ~ .main-con > .main-con-style > .con1-main > .con1-sec1 > .sec1-inf > .sec1-head-text{
    color: #FFF;
}

#LD-checker:checked ~ .main-con > .main-con-style > .con1-main > .con1-sec1 > .sec1-inf > .sec1-main-text{
    color: #FFF;
}

#LD-checker:checked ~ .main-con > .main-con-style > .con1-main > .con1-sec1 > .sec1-inf > .sec1-main-text2{
    color: #FFF;
}

/* Main - page 1 - sec 2 */

#LD-checker:checked ~ .main-con > .main-con-style > .con1-main > .con1-sec2 > .sec2-inf > .sec2-img{
    border: 2px solid #FFF;
}

#LD-checker:checked ~ .main-con > .main-con-style > .con1-main > .con1-sec2 > .sec2-inf > .sec2-head-text{
    color: #FFF;
}

#LD-checker:checked ~ .main-con > .main-con-style > .con1-main > .con1-sec2 > .sec2-inf > .sec2-main-text{
    color: #FFF;
}

#LD-checker:checked ~ .main-con > .main-con-style > .con1-main > .con1-sec2 > .sec2-inf > .sec2-main-text2{
    color: #FFF;
}

/* Main - page 1 - sec 3 */

#LD-checker:checked ~ .main-con > .main-con-style > .con1-main > .con1-sec3 > .sec3-inf > .sec3-head-text{
    color: #FFF;
}

#LD-checker:checked ~ .main-con > .main-con-style > .con1-main > .con1-sec3 > .sec3-inf > .sec3-projects-con > .project > .project-img{
    border: 2px solid white;
}

#LD-checker:checked ~ .main-con > .main-con-style > .con1-main > .con1-sec3 > .sec3-inf > .sec3-btn{
    border: 2px solid #FFF;
    background-color: #FFF;
    color: #333;
}

#LD-checker:checked ~ .main-con > .main-con-style > .con1-main > .con1-sec3 > .sec3-inf > .sec3-btn:hover{
    background-color: #333;
    color: #FFF;
}

/* Footer */

#LD-checker:checked ~ .footer > .footer-style{
    border-top: 2px solid #FFF;
}

#LD-checker:checked ~ .footer > .footer-style > .footer-logo > .footer-img{
    border: none;
}

#LD-checker:checked ~ .footer > .footer-style > .footer-logo > .footer-logo-text{
    color: #333;
}

#LD-checker:checked ~ .footer > .footer-style > .footer-contact > .contact-head-text{
    color: #333;
}

#LD-checker:checked ~ .footer > .footer-style > .footer-contact > .contact-ways{
    color: #333;
}

#LD-checker:checked ~ .footer > .footer-style > .footer-contact > .contact-ways > .social-media > .insta > .insta-w{
    opacity: 0;
}

#LD-checker:checked ~ .footer > .footer-style > .footer-contact > .contact-ways > .social-media > .insta > .insta-c{
    opacity: 1;
    z-index: 60;
}

#LD-checker:checked ~ .footer > .footer-style > .footer-contact > .contact-ways > .social-media > .face > .face-w{
    opacity: 0;
}

#LD-checker:checked ~ .footer > .footer-style > .footer-contact > .contact-ways > .social-media > .face > .face-c{
    opacity: 1;
    z-index: 60;
}

#LD-checker:checked ~ .footer > .footer-style > .footer-contact > .contact-ways > .social-media > .github > .github-w{
    opacity: 0;
}

#LD-checker:checked ~ .footer > .footer-style > .footer-contact > .contact-ways > .social-media > .github > .github-c{
    opacity: 1;
    z-index: 60;
}

/* page 2 */

#LD-checker:checked ~ .main-con > .main-con-style > .con2-myProjects > .con2-background-w{
    opacity: 0;
}

#LD-checker:checked ~ .main-con > .main-con-style > .con2-myProjects{
    background-color: #333;
}

#LD-checker:checked ~ .main-con > .main-con-style > .con2-myProjects > .con2-background-c{
    opacity: 1;
    z-index: 50;
}

#LD-checker:checked ~ .main-con > .main-con-style > .con2-myProjects > .con2-head-text{
    color: #FFF;
}

#LD-checker:checked ~ .main-con > .main-con-style > .con2-myProjects > .con2-projects-con > .snap-con-project > .project-con{
    border: 2px solid #FFF;
}

#LD-checker:checked ~ .main-con > .main-con-style > .con2-myProjects > .con2-projects-con > .snap-con-project > .project-con > .vst-site{
    border: 2px solid #FFF;
    color: #FFF;
}

#LD-checker:checked ~ .main-con > .main-con-style > .con2-myProjects > .con2-projects-con > .snap-con-project > .project-con > .vst-site:hover{
    background-color: #FFF;
    color: #333;
}

#LD-checker:checked ~ .main-con > .main-con-style > .con2-myProjects > .con2-projects-con > .snap-con-project{
    border: 2px solid #FFF;
}

#LD-checker:checked ~ .main-con > .main-con-style > .con2-myProjects > .con2-projects-con > .snap-con-project::-webkit-scrollbar-thumb{
    background: #FFDE59;
}

#LD-checker:checked ~ .main-con > .main-con-style > .con2-myProjects > .con2-projects-con > .snap-con-project::-webkit-scrollbar-track{
    background: #FFF;
}