html,body{
    margin: 0;
    font-family: Rubik;
    background-color: #333;
    scroll-behavior: smooth;
}



.header{
    display: flex;
    justify-content: center;
}

.nav-style{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #A8A4E0;
    border-bottom: 3px solid #FFF;
    font-family: Sansita;
    transition: 0.50s all;
}

.nav-left-side{
    display: flex;
    align-items:center;
    width: 250px;
    gap: 3%;
    color: #FFF;
    margin-left: 5%;
}

.logo{
    display: flex;
    width: 50px;
    border-radius: 50%;
}

.text-logo{
    display: flex;
    font-size: 28px;
    font-weight: bold;
}

#check{
    display: none;
}

.pos{
    display: none;
}

.menu{
    display: none;
    width: 35px;
    cursor: pointer;
}

.close{
    display: none;
    width: 23px;
    cursor: pointer;
}

.nav-right-side{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 500px;
    gap: 5%;
    margin-right: 5%;
}

.nav-right-side2{
    display: none;
}

.nav-text{
    display: flex;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.30s;
    color: #FFF;
}

.nav-text1{
    display: flex;
    font-size: 20px;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.30s;
}

.nav-text:hover{
    color: #333;
}

.nav-text1:hover{
    color: #FFF;
}



.footer{
    display: flex;
}

.footer-style{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 250px;
    color: #FFF;
    background-color: #A8A4E0;
    border-top: 2px solid white;
    transition: all 0.50s;
}

.footer-left-side{
    display: flex;
    align-items: center;
    gap: 3%;
}

.footer-logo{
    display: flex;
    width: 70px;
}

.footer-text-logo{
    display: flex;
    font-family: sansita;
    font-size: 50px;
}

.footer-text1{
    display: flex;
    font-size: 26px;
    font-family: Sansita;
    width: fit-content;
}

.footer-mid-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.mid-text2{
    color: #FFF;
}

.left-side-icons{
    display: flex;
    align-items: center;
    gap: 10px;
}

.icons1{
    display: flex;
    width: 25px;
    cursor: pointer;
}

.up-img{
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 60px;
}




@media (max-width:800px) {

.nav-style{
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav-left-side{
    margin: 30px;
}

.pos{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.menu{
    display: flex;
    opacity: 1;
    margin-left: -5px;
    transition: all 0.40s;
}

.close{
    display: flex;
    position: absolute;
    opacity: 0;
    transition: all 0.40s;
}

#check:checked ~ .nav-style > .pos > .menu{
    opacity: 0;
}

#check:checked ~ .nav-style > .pos > .close{
    opacity: 1;
}

#check:checked ~ .nav-style > .nav-right-side{
    opacity: 1;
    transform: translateX(0%);
}

.nav-right-side{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 72px;
    width: 100%;
    height: 400px;
    border-bottom: 2px solid #FFF;
    background-color: #A8A4E0;
    transform: translateX(-100%);
    transition: all 0.40s ease-in;
}

.footer-style{
    display: flex;
    flex-direction: column  ;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #FFF;
    background-color: #A8A4E0;
    border-top: 2px solid white;
}

}