body, html{
    margin: 0;
    font-family: Rubik;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    font-weight: bold;
}

.navbar{
    display: flex;
    justify-content: center;
}

.navbar-style{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 10vh;
    padding: 0% 5%;
    background-color: #FFDE59;
    color: #FFF;
    border-bottom: 2px solid #333;
    font-family: Sansita;
    transition: all .5s;
    position: fixed;
    z-index: 97;
}

.nav-logo{
    font-size: 24px;
    font-weight: bold;
    transition: all .5s;
}

.nav-right-side{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-size: 20px;
    gap: 25px;
}

.text-pos1,.text-pos2,.text-pos3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    gap: 2px;
}

.text-pos1 div,.text-pos2 div,.text-pos3 div{
    font-weight: bold;
    cursor: pointer;
    transition: all .5s;
}

.nav-text{
    color: #FFF;
}

.nav-text:hover ~ .line{
    width: 100%;
}

.line{
    background-color: #FFF;
    width: 0;
    height: 2.5px;
    border-radius: 50px;
    transition: all .5s;
}


#LD-checker{
    display: none;
}

.light-dark{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 35px;
    border-radius: 50px;
}

.LD-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 60px;
    height: 30px;
    border-radius: 50px;
    border: 2px solid #333;
    cursor: pointer;
    transition: all .5s;
}

.Light-img, .Light-imgW, .Dark-img, .Dark-imgW{
    display: flex;
    width: 20px;
    z-index: 98;
}

.Light-imgW, .Dark-imgW{
    display: none;
}

.LD-ball{
    display: flex;
    z-index: 99;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #333;
    position: absolute;
    transform: translateX(-15px);
    transition: all .5s;
}

.nav-mobile-style{
    display: none;
}

.sandwich, #nav-checker{
    display: none;
}



.footer{
    display: flex;
    justify-content: center;
}

.footer-style{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 280vh;
    width: 90%;
    padding: 0% 5%;
    height: 90vh;
    background-color: #FFDE59;
    border-top: 2px solid #333;
    transition: all .5s;
    z-index: 96;
}






















@media (max-width:800px) {
 
.sandwich{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    color: white;
    gap: 5px;
    cursor: pointer;
    z-index: 99;
}

.line1{
    display: flex;
    width: 30px;
    height: 3px;
    border-radius: 50px;
    background-color: white;
    transition: all .5s;
}

.line2{
    display: flex;
    width: 30px;
    height: 3px;
    border-radius: 50px;
    background-color: #FFF;
}

.line3{
    display: flex;
    width: 30px;
    height: 3px;
    border-radius: 50px;
    background-color: #FFF;
    transition: all .5s;
}

#nav-checker{
    display: none;
}

#nav-checker:checked ~ .navbar > .navbar-style > .sandwich > .line2{
    opacity: 0;
}

#nav-checker:checked ~ .navbar > .navbar-style > .sandwich > .line1{
    transform: rotate(45deg);
    margin-top: 0px;
}

#nav-checker:checked ~ .navbar > .navbar-style > .sandwich > .line3{
    transform: rotate(-45deg);
    margin-top: -15px;
}

#nav-checker:checked ~ .navbar > .navbar-style > .nav-mobile-style{
    transform: translateX(0);
}

.nav-right-side{
    display: none;
}

.nav-mobile-style{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 98;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all .5s;
}

.nav-items{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #FFDE59;
    border-left: 2px solid #333;
    width: 50%;
    gap: 30px;
    font-size: 20px;
}

.text-pos1{
    margin-top: 10vh;
}

.close-nav{
    display: flex;
    width: 50%;
    height: 100vh;
    z-index: 98;
}


}