body{
    margin: 0;
    background-color: rgb(20, 20, 40);
    font-family: Arial;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 130px;
    padding: 0% 3%;
}

.container-style{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 450px;
    background-color: rgb(30, 20, 50);
    border-radius: 20px;
}


.left{
    display: flex;
    flex-direction: column;
    min-width: 340px;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
    color: white;
}

.Text{
    font-size: 40px;
    margin-bottom: 30px;
}

.Text2{
    font-size: 17px;
    line-height: 24px;
    color: rgb(200, 200, 200);
}

.Text3{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.first{
    display: flex;
    flex-direction: column;
    line-height: 32px;
}

.Text3-style1{
    font-size: 28px;
    font-weight: bold;
}

.Text3-style2{
    color: rgb(200, 200, 200);
}


.right{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: none;
}

.right-image{
    display: flex;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}


@media (max-width: 1050px) {

.container{
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-style{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    height: auto;
    width: 56%;
    padding: 3%;
}

.right-image{
    width: 100%;
    border-radius: 10px;
}

.left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
    padding: 0% 2%;
}

.Text2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
    width: fit-content;
    padding: 0% 2%;
}

.Text3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0% 2%;
}

}

@media (max-width: 800px) {

.container{
    margin: 0;
    padding: 0;
}

.container-style{
    flex-direction: column-reverse;
    height: 100vh;
    width: 100%;
    padding: 0%;
    padding-bottom: 1%;
    align-items: center;
}

.right-image{
    border-radius: 0;
    width: 100%;
    object-fit: cover;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
}

}