.container{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 100px;
}

.container-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    gap: 100px;
}

.center-a-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 250px;
    height: 400px;
    font-size: 20px;
    color: white;
}

.parent{
    display: flex;
    padding: 15px;
    width: 250px;
    height: 300px;
    border: 5px solid white;
    border-radius: 15px;
    background-color: black;
    cursor: pointer;
    animation: parent1 3s infinite;
}

@keyframes parent1 {
    0% {display: flex;}
    50% {align-items: center;}
    75% {justify-content: center;}
    100% {display: block;}
}

.chiled{
    width: 70px;
    height: 70px;
    border-radius: 15px;
    background: linear-gradient(#5271ff,#FFFFFF);
}



.parent2{
    display: flex;
    padding: 15px;
    width: 250px;
    height: 300px;
    border: 5px solid white;
    border-radius: 15px;
    background-color: black;
    transition: 1s all;
    cursor: pointer;
    animation: parent2 3s infinite;
}

@keyframes parent2 {
    0% {display: grid;}
    50% {place-content: center;}
    100% {display: block;}
}

.chiled2{
    width: 70px;
    height: 70px;
    border-radius: 15px;
    background: linear-gradient(#5271ff,#FFFFFF);
}