.main-text{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 200px;
    font-size: 30px;
    color: #FFF;
}


.container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.container-style{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    gap: 30px;
    margin-left: -150px;
    margin-bottom: 100px;
}

.box1,.box2,.box3{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-right: -150px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
    filter: grayscale(100%);
    transition: 0.50s;
}

.box1:hover, .box2:hover, .box3:hover{
    margin-top: -50px;
    margin-right: -50px;
    transform: translateX(-50px);
    filter: grayscale(0%);
}


@media (max-width: 800px) {

.container-style{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    margin-top: 250px;
    margin-left: -150px;
    margin-bottom: 100px;
}

.box1,.box2,.box3{
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-top: -150px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
    filter: grayscale(100%);
    transition: 0.50s;
}

.box1:hover, .box2:hover, .box3:hover{
    margin-top: 0px;
    margin-right: 0px;
    margin-top: -150px;
    margin-left: 150px;
    transform: translateX(0px);
    transform: translateY(-150px);
    filter: grayscale(0%);
}
    
}