body{
    margin: 0;
    font-family: Arial;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.container-style{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 420px;
    height: 650px;
    background-color: white;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 18px 10px rgb(0,0,0,0.08);
    -moz-box-shadow: 0 0 18px 10px rgb(0,0,0,0.08);
    box-shadow: 0 0 18px 10px rgb(0,0,0,0.08);
}

.image{
    display: flex;
    justify-content: center;
}

.image-style{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 420px;
}


.Text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text-style1{
    font-size: 27px;
    font-weight: 800;
    color: rgb(20,60,120);
}

.text-style2{
    width: fit-content;
    padding: 0% 5%;
    color: rgb(140, 140, 180);
    line-height: 24px;
}


.Songs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 30px;
}

.song-icon{
    margin-right: -30%;
}

.text-col{
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 24px;
}

.text-col-style1{
    color: rgb(20,60,120);
    font-weight: bold;
    font-size: 17px;
}

.text-col-style2{
    font-size: 17px;
    color: rgb(140, 140, 180);
}

.change-link{
    color: rgb(40, 40, 220);
    font-weight: bold;
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
    transition: 0.50s all;
}

.change-link:hover{
    text-decoration: none;
    opacity: 0.8;
}

.Buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}

.payment-button{
    border: none;
    width: 340px;
    height: 50px;
    border-radius: 12px;
    background-color: rgb(40, 40, 220);
    color: white;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-shadow: 0 20px 16px 3px rgba(40, 40, 220, 0.150);
    -moz-box-shadow: 0 20px 16px 3px rgba(40, 40, 220, 0.150);
    box-shadow: 0 20px 16px 3px rgba(40, 40, 220, 0.150);
    cursor: pointer;
    transition: 0.50s all;
}

.payment-button:hover{
    opacity: 0.8;
}

.payment-cancle{
    color: rgb(140, 140, 180);
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;
    transition: 0.50s all;
}

.payment-cancle:hover{
    color: rgb(20,60,120);
}


@media (max-width: 800px) {
    
.container{
    margin: 0;
}

.container-style{
    width: 100%;
    height: 100vh;
}

.image{
    width: 100%;
}

.image-style{
    width: 100%;
    border-radius: 0;
    border-end-end-radius: 15px;
    border-end-start-radius: 15px;
}

.Songs{
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
}

.song-icon{
    margin: 0;
}

.payment-button{
    width: 250px;
}

}