.main-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0% 3%;
    font-size: 30px;
    color: white;
    margin-top: 200px;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.container-style{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    gap: 15px;
}

.Text{
    font-size: 40px;
    color: white;
    cursor: pointer;
    width: fit-content;
    transition: all .8s;
}

.Text:hover{
    color: #5271ff;
}

.Text:hover ~ .left-line{
    transform: translateX(220px);
}

.left-line{
    display: flex;
    width: 5px;
    height: 50px;
    border-radius: 20px;
    background-color: #5271ff;
    transition: all 0.50s;
}