body{
    margin: 0;
    font-family: Mako;
    background-color:rgb(230, 245, 255);
}

.main-container{
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.main-container-style{
    display: flex;
    justify-content: center;
    width: 80%;
    height: auto;
    gap: 40px;
}

.main-container-left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.left-side-upper-containers,.left-side-bottom-containers{
    display: flex;
    justify-content: space-between;
    width: 950px;
}


.left-side-left-upper-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 630px;
    height: 270px;
    border-radius: 10px;
    background-color: rgb(130, 0, 180);
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.1);
}

.left-side-right-upper-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 280px;
    height: 270px;
    border-radius: 10px;
    background-color: rgb(100, 100, 108);
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.1);
}

.left-side-left-bottom-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 280px;
    height: 270px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.1);
}

.left-side-right-bottom-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 630px;
    height: 270px;
    border-radius: 10px;
    background-color: rgb(30, 30, 30);
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.1);
}

.main-container-right-side{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container-right-side-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 280px;
    height: 570px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.1);
}



.profile{
    display: flex;
    align-items: center;
    grid-area: 10px;
    margin-bottom: 15px;
    margin-left: 40px;
}

.profile-image{
    display: flex;
    margin-right: 20px;
    border: 2px solid white;
    border-radius: 50%;
    width: 30px;
}

.profile-text{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.profile-text1{
    display: flex;
    color: white;
}

.profile-text2{
    display: flex;
    color: rgb(200, 180, 200);
}

.container-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.container-text1{
    display: flex;
    align-items: flex-start;
    font-size: 20px;
    color: white;
    font-weight: bold;
    width: 550px;
}

.container-text2{
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    color: rgb(200, 180, 200);
    line-height: 16px;
    font-weight: 50;
    font-weight: bold;
    width: 550px;
}




.profile2{
    display: flex;
    align-items: center;
    grid-area: 10px;
    margin-bottom: 15px;
    margin-left: 40px;
}

.profile-image2{
    display: flex;
    margin-right: 20px;
    border: 2px solid white;
    border-radius: 50%;
    width: 30px;
}

.profile-text2{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.profile-text1-2{
    display: flex;
    color: white;
}

.profile-text2-2{
    display: flex;
    color: rgb(210, 210, 210);
}

.container-text2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.container-text1-2{
    display: flex;
    align-items: flex-start;
    font-size: 20px;
    color: white;
    font-weight: bold;
    width: 220px;
    line-height: 22px;
}

.container-text2-2{
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    color: rgb(220, 210, 210);
    line-height: 16px;
    font-weight: 50;
    font-weight: bold;
    width: 190px;
}



.profile3{
    display: flex;
    align-items: center;
    grid-area: 10px;
    margin-bottom: 15px;
    margin-left: 40px;
}

.profile-image3{
    display: flex;
    margin-right: 20px;
    border: 2px solid black;
    border-radius: 50%;
    width: 30px;
}

.profile-text3{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.profile-text1-3{
    display: flex;
    color: black;
    font-weight: bold;
}

.profile-text2-3{
    display: flex;
    color: rgb(120, 120, 120);
}

.container-text3{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.container-text1-3{
    display: flex;
    align-items: flex-start;
    font-size: 20px;
    color: black;
    font-weight: bold;
    width: 200px;
    line-height: 22px;
}

.container-text2-3{
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    color: rgb(120, 120, 120);
    line-height: 16px;
    font-weight: 50;
    font-weight: bold;
    width: 190px;
}




.profile4{
    display: flex;
    align-items: center;
    grid-area: 10px;
    margin-bottom: 15px;
    margin-left: 40px;
}

.profile-image4{
    display: flex;
    margin-right: 20px;
    border: 2px solid white;
    border-radius: 50%;
    width: 30px;
}

.profile-text4{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.profile-text1-4{
    display: flex;
    color: white;
}

.profile-text2-4{
    display: flex;
    color: rgb(200, 200, 200);
}

.container-text4{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.container-text4{
    display: flex;
    align-items: flex-start;
    font-size: 20px;
    color: white;
    font-weight: bold;
    width: 550px;
}

.container-text2-4{
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    color: rgb(200, 200, 200);
    line-height: 16px;
    font-weight: 50;
    font-weight: bold;
    width: 550px;
}





.profile5{
    display: flex;
    align-items: center;
    grid-area: 10px;
    margin-bottom: 15px;
    margin-left: 40px;
}

.profile-image5{
    display: flex;
    margin-right: 20px;
    border: 2px solid black;
    border-radius: 50%;
    width: 30px;
}

.profile-text5{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.profile-text1-5{
    display: flex;
    color: black;
    font-weight: bold;
}

.profile-text2-5{
    display: flex;
    color: rgb(120, 120, 120);
}

.container-text5{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.container-text1-5{
    display: flex;
    align-items: flex-start;
    font-size: 20px;
    color: black;
    font-weight: bold;
    width: 200px;
    line-height: 22px;
}

.container-text2-5{
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    color: rgb(120, 120, 120);
    line-height: 16px;
    font-weight: 50;
    font-weight: bold;
    width: 190px;
}





@media (max-width: 1300px) {
    
.main-container{
    margin: 50px 0px;
}

.main-container-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.main-container-left-side,.main-container-right-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.left-side-upper-containers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.left-side-bottom-containers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.left-side-left-upper-container, .left-side-right-upper-container,.left-side-left-bottom-container, .left-side-right-bottom-container,.main-container-right-side-style{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 5% 0%;
}

.profile, .profile2,.profile3,.profile4{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
}

.container-text,.container-text2,.container-text3,.container-text4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
}

.container-text1, .container-text2,.container-text1-2, .container-text2-2,.container-text1-3, .container-text2-3,.container-text1-4, .container-text2-4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

}