.text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;    
    color: white;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 200px;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 200px;
}

.container-style{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    gap: 50px;
}



.container-style > button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: #FFF;
    background-color: #5271ff;
    cursor: pointer;
    transition: all 0.50s;
}

.first-btn:hover{
    box-shadow: 0px 0px 30px 10px #FFF;
}