.text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;    
    color: white;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 200px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.container-style{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background-color: white;
}

.background{
    position: absolute;
    left: 0%;
    width: 20%;
    height: 60px;
    border-radius: 10px;
    background-color: #5271ff;
    transition: all 0.50s;
}

.element1,.element2,.element3{
    font-size: 18px;
    color: #323131;
    position: relative;
    cursor: pointer;
    transition: all 0.50s;
}

body:has(.element1:hover) .element2{
    filter: blur(2px);
}

body:has(.element1:hover) .element3{
    filter: blur(2px);
}



body:has(.element2:hover) .element1{
    filter: blur(2px);
}

body:has(.element2:hover) .element3{
    filter: blur(2px);
}



body:has(.element3:hover) .element1{
    filter: blur(2px);
}

body:has(.element3:hover) .element2{
    filter: blur(2px);
}