.text{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0% 5%;
    margin-top: 200px;
    margin-bottom: 150px;
    font-size: 30px;
    color: white;
}


.container{
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

.container-style{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

#checkbox{
    display: none;
}

.position{
    display: flex;
    position: absolute;
    width: 60px;
}

.menu-btn{
    width: 50px;
    background-color: #5271ff;
    border-radius: 50%;
    padding: 3px;
    border: 1px solid white;
    cursor: pointer;
}

.icon1,.icon2,.icon3,.icon4{
    width: 40px;
    position: absolute;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
    object-fit: cover;
}

.icon1{
    transition: all .25s;
}

.icon2{
    transition: all .35s;
}

.icon3{
    transition: all .45s;
}

.icon4{
    transition: all .55s;
}

#checkbox:checked ~ .icon1{
    transform: translateX(-80px);
}

#checkbox:checked ~ .icon2{
    transform: translateY(-80px);
}

#checkbox:checked ~ .icon3{
    transform: translateX(80px);    
}

#checkbox:checked ~ .icon4{
    transform: translateY(80px);
}