html,body{
    margin: 0;
    font-family: Rubik;
    background-color: #323131;
    cursor: url('../images/cursor.png'),auto;
    scroll-behavior: smooth;
}

.header{
    display: flex;
    justify-content: center;
}

.nav-style{
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #5271ff;
    font-family: Sansita;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: 0.50s all;
}

.nav-left-side{
    display: flex;
    align-items: center;
    width: 250px;
    gap: 5%;
    color: white;
    margin-left: 5%;
}

.logo{
    display: flex;
    width: 50px;
    border-radius: 50%;
}

.text-logo{
    display: flex;
    font-size: 22px;
    font-weight: bold;
}

#check{
    display: none;
}

.pos{
    display: flex;
    margin-right: 2%;
}

.menu{
    display: none;
    align-items: center;
    width: 35px;
    cursor: pointer;
}

.nav-right-side{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 500px;
    gap: 10%;
    color: white;
    margin-right: 5%;
}

.nav-text{
    display: flex;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.30s;
}

.nav-text1{
    display: flex;
    font-size: 20px;
    color: #323131;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.30s;
}

.nav-text:hover{
    color: #323131;
}

.nav-text1:hover{
    color: white;
}



.container{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 100px;
}

.container-style{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
}

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    padding: 30px;
    transition: 0.50s all;
}

.img{
    display: flex;
    width: 150px;
}

.circle:hover{
    padding: 50px;
}




.footer{
    display: flex;
}

.footer-style{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 400px;
    color: white;
    background-color: #5271ff;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    transition: all 0.50s;
}

.footer-left-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer-logo{
    display: flex;
    width: 200px;
    border-radius: 50%;
}

.footer-text1{
    display: flex;
    font-size: 26px;
    font-family: Sansita;
    width: fit-content;
}

.footer-mid-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.line{
    display: flex;
    border-bottom: 1px solid white;
    width: 200px;
    margin-bottom: 20px;
}

.left-side-icons{
    display: flex;
    align-items: center;
    gap: 10px;
}

.icons1{
    display: flex;
    width: 25px;
    cursor: pointer;
}















@media (max-width:800px) {

.nav-style{
    border-bottom-right-radius: 0px;
}

.menu{
    display: flex;
}

#check:checked ~ .nav-right-side{
    display: flex;
    animation: wipe-in-bottom-left;
    animation-duration: 1s;
}

@keyframes wipe-in-bottom-left {
    from {
      clip-path: polygon(50% -50%, 150% 50%, 150% 50%, 50% -50%);
    }
    to {
      clip-path: polygon(50% -50%, 150% 50%, 50% 150%, -50% 50%);
    }
  }

.nav-right-side{
    display: none;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 80px;
    right: -40px;
    width: 200px;
    height: 300px;
    gap: 50px;
    color: white;
    border-bottom-left-radius: 15px;
    background-color: #5271ff;
}

.footer-style{
    display: flex;
    flex-direction: column  ;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    background-color: #5271ff;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

}