body{
    cursor: url('../images/cursor.png'),auto;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 130px;
}

.container-style{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
}

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    padding: 30px;
    transition: 0.50s all;
}

.img{
    display: flex;
    width: 150px;
}

.circle:hover{
    padding: 50px;
}
