body{
    font-family: Arial;
    background-color: rgb(20, 20, 20);
    margin: 0;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.container-style{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 480px;
    border-radius: 30px;
    color: rgb(red, green, blue);
    background-color: rgb(35, 40, 50);
}

.star{
    display: flex;
    margin-top: 40px;
    margin-left: 40px;
}

.circle-star-style{
    background-color: rgb(50, 55, 65);
    padding: 20px;
    border-radius: 50%;
}

.star-style{
    width: 20px;
}


.Text{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-bottom: 50px;
    color: white;
}

.text-style1{
    font-size: 28px;
    margin-top: 40px;
}

.text-style2{
    font-size: 18px;
    font-weight: 100px;
    color: gainsboro;
}

#checkbox1,#checkbox2,#checkbox3,#checkbox4,#checkbox5{
    display: none;
}

#checkbox1:checked ~ .page-balls-con > label > .ball1{
    background-color: rgb(200,100, 0);
}

#checkbox2:checked ~ .page-balls-con > label > .ball2{
    background-color: rgb(200,100, 0);
}

#checkbox3:checked ~ .page-balls-con > label > .ball3{
    background-color: rgb(200,100, 0);
}

#checkbox4:checked ~ .page-balls-con > label > .ball4{
    background-color: rgb(200,100, 0);
}

#checkbox5:checked ~ .page-balls-con > label > .ball5{
    background-color: rgb(200,100, 0);
}

.page-balls-con{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px 20px;
    gap: 15px;
}

.ball1,.ball2,.ball3,.ball4,.ball5{
    color: gainsboro;
    font-weight: 100;
    background-color: rgb(50, 55, 65);
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.50s all;
}

.ball1:hover,.ball2:hover,.ball3:hover,.ball4:hover,.ball5:hover{
    background-color: rgb(200,100, 0);
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

.button-style{
    width: 360px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: rgb(200,100, 0);
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: 0.50s all;
}

.button-style:hover{
    background-color: white;
    color: rgb(200,100, 0);
}



@media (max-width: 800px) {
    
.container{
    margin-top: 0px;
}

.container-style{
    display: flex;
    flex-direction: column;
    align-items: center;justify-content: space-around;
    width: 100%;
    height: 100vh;
    border-radius: 0px;
    color: rgb(red, green, blue);
    background-color: rgb(35, 40, 50);
}

.star{
    display: flex;
    margin-top: 0px;
    margin-left: 0px;
}

.circle-star-style{
    background-color: rgb(50, 55, 65);
    padding: 30px;
    border-radius: 50%;
}

.star-style{
    width: 40px;
}


.Text{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 0px;
    margin-bottom: 0px;
    padding: 0% 5%;
    line-height: 26px;
    color: white;
}


.page-balls-con{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-left: 0px;
    margin-right: 0px;
    gap: 15px;
    width: 60%;
}

.ball{
    color: gainsboro;
    font-weight: 100;
    background-color: rgb(50, 55, 65);
    padding: 20px 25px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.50s all;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.button-style{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: rgb(200,100, 0);
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: 0.50s all;
}

}