body{
    margin: 0;
    font-family: Roboto;
}

.upper-container{
    display: flex;
    align-items: center;
}

.upper-container-style{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1530px;
    height: 80px;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 10px;
}

.upper-con-left-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 550px;
    flex-wrap: nowrap;
}

upper-con-left-sec-style{
    display: flex;
}

.upper-container-text{
    color: rgb(100, 100, 100);
    font-weight: 500;
    cursor: pointer;
}

.upper-container-text1{
    color: rgb(100, 100, 100);
    font-weight: 500;
    cursor: pointer;
}

.upper-container-text2{
    color: rgb(100, 100, 100);
    font-weight: 500;
    cursor: pointer;
}

.upper-container-text3{
    color: rgb(100, 100, 100);
    font-weight: 500;
    cursor: pointer;
}

.upper-con-right-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
}

.upper-container-butt{
    width: 100px;
    height: 40px;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 15px;
    background-color: white;
    font-size: 15px;
    text-shadow: 0.3px 0.4px 0.3px;
    color: rgb(100, 100, 100);
    transition: 0.50s all;
    cursor: pointer;
}

.upper-container-butt:hover{
    border: 2px solid black;
    color: black;
}


/* Middle Container */


.middle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.middle-container-style{
    width: 1200px;
    height: 640px;
    display: flex;
    justify-content: space-between;
}

.middle-container-left-sec{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    width: 700px;
    height: 620px;
    margin-left: 30px;
    float: left;
    width: 20%;
}

.middle-container-text1{
    font-size: 82px;
    font-weight: bold;
    width: 480px;
}

.middle-container-text2{
    font-size: 20px;
    color: rgb(100, 100, 100);
    width: 420px;
}

.middle-container-butt{
    width: 160px;
    height: 55px;
    border-radius: 18px;
    font-size: 18px;
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
    transition: 0.50s all;
    cursor: pointer;
}

.middle-container-butt:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.middle-container-row-style{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
    float: left;
    width: 20%;
}

.middle-container-image1{
    width: 500px;
    height: 580px;
    object-fit: contain;
    cursor: auto;
}