.main-text{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 200px;
    font-size: 30px;
    color: #FFF;
}


.container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    gap: 30px;
    margin-bottom: 100px;
}

.container-style > button{
    width: 200px;
    height: 50px;
    background-color: white;
    color: #5271ff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    transition: 0.50s all;
}

.cursor1{
    cursor: pointer;
}

.cursor1:hover{
    transform: scale(1.08);
}

.cursor2{
    cursor: help;
}

.cursor2:hover{
    transform: scale(1.08);
}

.cursor3{
    cursor: crosshair;
}

.cursor3:hover{
    transform: scale(1.08);
}

.cursor4{
    cursor: move;
}

.cursor4:hover{
    transform: scale(1.08);
}

.cursor5{
    cursor: not-allowed;
}

.cursor5:hover{
    transform: scale(1.08);
}

.cursor6{
    cursor: text;
}

.cursor6:hover{
    transform: scale(1.08);
}

.cursor7{
    cursor: grabbing;
}

.cursor7:hover{
    transform: scale(1.08);
}
