body{
    margin: 0px;
    background-color: rgb(100, 50, 150);
    font-family: Roboto;
}

.background-image{
    display: flex;
    position: absolute;
}

.desktop-image{
    display: flex;
    height: 775px;
}

.mobile-image{
    display: none;
}



.first-container{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 60px;
}

.first-container-style{
    display: flex;
    margin-top: 60px;
    margin-left: 80px;
}

.first-container-logo{
    width: 220px;
}


.sec-container{
    display: flex;
    margin-left: 80px;
}

.sec-container-style{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-container-left-side{
    display: flex;
    margin-right: 70px;
}

.sec-container-left-side-image{
    display: flex;
    position: relative;
}

.sec-container-right-side{
    display: flex;
    position: relative;
    width: 600px;
}

.sec-container-right-side-style{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sec-container-right-side-text1{
    display: flex;
    color: white;
    font-size: 40px;
    font-weight: bold;
    width: 400px;
    margin-bottom: 20px;
}

.sec-container-right-side-text2{
    display: flex;
    color: white;
    font-size: 18px;
    line-height: 24px;
    width: 500px;
    margin-bottom: 20px;
}

.sec-container-right-side-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    font-size: 16px;
    font-weight: 540;
    color: rgb(100, 50, 150);
    border: none;
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
    transition: 0.50s all;
}

.sec-container-right-side-button:hover{
    background-color: rgb(200, 100, 200);
    color: white;
}



.third-container{
    display: flex;
    align-items: flex-end;
    position: absolute;
    right: 200px;
    bottom: 40px;
}

.third-container-style{
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 50px;
}

.third-container-image-border{
    display: flex;
    border: 2px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.50s all;
}

.third-container-image-border:hover{
    border-color: rgb(200, 100, 200);
}

.third-container-image-border:hover .third-container-image-size2{
    display: flex;
    position: relative;
    margin-left: -20px;
}

.third-container-image-size{
    width: 20px;
    margin-left: 10px;
    transition: 0.50s all;
    cursor: pointer;
}

.third-container-image-size2{
    display: none;
    width: 20px;
    transition: all 0.50s;
}