.container{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 100px;
}

.contaienr-style{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
    gap: 5%;
}


.src-code{
    display: flex;
}

.src-code-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 3px 5px 4px rgba(0, 0, 0, 0.1);
}

.empty{
    display: flex;
    width: 300px;
    height: 120px;
    border-radius: 15px;
    background-color: white;
}

.img{
    display: flex;
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.50s;
}

.img:hover{
    opacity: 0.6;
}

.text{
    display: flex;
    margin-top: 110px;
    font-size: 18px;
    color: #859BFF;
    border: 2px solid #859BFF;
    padding: 7px 25px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.50s;
}

.text:hover{
    background-color: #859BFF;
    color: #FFF;
}

.container2{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.container2-style{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.back, .next, .num{
    font-size: 18px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.num1{
    font-size: 18px;
    text-decoration: none;
    color: #5271ff;
    cursor: pointer;
}

.num:hover, .num1:hover{
    text-decoration: underline;
}

.dash{
    font-size: 18px;
}






@media (max-width:800px) {

    

}