body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.background-image-desktop{
    display: flex;
    position: absolute;
    top: 0px;
    width: 30%;
    height: 100vh;
}

.background-image-mobile{
    display: none;
    position: absolute;
    top: 0px;
}


.container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.container-style{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: auto;
    position: relative;
}

.container-left-section{
    display: flex;
    justify-content: center;
}

.container-left-section-style{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.left-section-front-image{
    display: flex;
    position: relative;
}

.front-image{
    display: flex;
}

.front-image-logo{
    display: flex;
    width: 15%;
    position: absolute;
    left: 50px;
    top: 40px;
}

.front-image-SC{
    display: flex;
    position: absolute;
    top: 60%;
    left: 10%;
    width: 100%;
    font-size: 30px;
    color: white;
}

.front-image-text{
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 10%;
    top: 82%;
    width: 66%;
    color: white;
    font-size: 14px;
}

.left-section-back-image{
    display: flex;
    position: relative;
    margin-left: 70px;
}

.back-image{
    display: flex;
}

.back-image-text{
    display: flex;
    position: absolute;
    right: 14%;
    top: 46%;
    color: white;
    font-weight: bold;
    font-size: 16px;
}



.container-right-section{
    display: flex;   
}

.container-right-section-style{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 400px;
}

.right-section-name{
    display: flex;
    font-size: 12px;
    font-weight: bold;
}

.right-section-input-text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 94%;
    height: 35px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.right-section-input-text::placeholder{
    font-size: 16px;
    color: rgb(200, 200, 200);
}

.right-section-date{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 30px;
}

.right-section-date-left{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.date-text{
    display: flex;
    font-size: 12px;
    font-weight: bold;
}

.date-left-input{
    display: flex;
    width: 40px;
    height: 35px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.date-left-input::placeholder{
    font-size: 16px;
    color: rgb(200, 200, 200);
}

.right-section-date-right{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.date-right-input{
    display: flex;
    width: 240px;
    height: 35px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 15px;
}

.date-right-input::placeholder{
    font-size: 16px;
    color: rgb(200, 200, 200);
}


.right-section-pos-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.right-section-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 45px;
    border: none;
    border-radius: 7px;
    background-color: rgb(40, 0, 60);
    color: white;
    font-size: 16px;
    font-weight: 550;
    cursor: pointer;
}




@media (max-width:1200px) {

.background-image-desktop{
    display: none;
}

.background-image-mobile{
    display: flex;
    width: 100%;
    height: 350px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.container{
    display: flex;
    margin: 0;
    justify-content: center;
}

.container-style{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.container-left-section{
    display: flex;
    justify-content: center;
}

.container-left-section{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.container-left-section-style{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.front-image{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.front-image-logo{
    display: flex;
    width: 15%;
    position: absolute;
    left: 10%;
    top: 17%;
}

.front-image-SC{
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 58%;
    left: 0%;
    width: 100%;
    font-size: 26px;
    color: white;
}

.front-image-text{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 40%;
    position: absolute;
    left: 0%;
    top: 82%;
    width: 100%;
    color: white;
    font-size: 14px;
}

.left-section-back-image{
    display: flex;
    position: relative;
}

.back-image{
    display: flex;
    width: 100%;
}
    
}

@media (max-width:865px) {

.container-style{
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.front-image-SC{
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 58%;
    left: 0%;
    width: 100%;
    font-size: 20px;
    color: white;
}

.front-image-text{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 40%;
    position: absolute;
    left: 0%;
    top: 82%;
    width: 100%;
    color: white;
    font-size: 12px;
}
    
}

@media (max-width:800px) {

.container-left-section-style{
    display: flex;
    flex-direction: row;
    gap: -30px;
}

.front-image{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.front-image-logo{
    display: flex;
    width: 15%;
    position: absolute;
    left: 10%;
    top: 17%;
}

.left-section-back-image{
    display: flex;
    position: relative;
    margin: 0;
}
    
}

@media (max-width:650px) {

.background-image-mobile{
    height: 500px;
}
    
.container-style{
    margin-top: -50px;
}

.container-left-section-style{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.left-section-front-image{
    display: flex;
    justify-content: center;
}

.left-section-back-image{
    display: flex;
    justify-content: center;
}

.front-image{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    object-fit: cover;
    border-radius: 10px;
}

.front-image-logo{
    display: flex;
    width: 10%;
    position: absolute;
    left: 22%;
    top: 17%;
}

.front-image-text{
    display: flex;
    gap: 20%;
}

.left-section-back-image{
    display: flex;
    position: relative;
    margin: 0;
}

.back-image{
    width: 70%;
}

.back-image-text{
    right: 22%;
}
    
}

@media (max-width:500px) {
    
.background-image-mobile{
    height: 400px;
}

.container-right-section{
    width: 100%;
}

.container-right-section-style{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.right-section-input-text{
    width: 60%;
}

.right-section-date{
    gap: 20px;
    width: 60%;
    margin-left: -5%;
}

.date-right-input{
    width: 100%;
}

.pos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.right-section-button{
    width: 100%;
}

.front-image-SC{
    font-size: 16px;
}

}