body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.background-image-desktop{
    display: flex;
    position: fixed;
    top: 0px;
    width: 30%;
    height: 1000px;
}

.background-image-mobile{
    display: none;
    position: fixed;
    top: 0px;
}


.container{
    display: flex;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-style{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 550px;
    position: relative;
}

.container-left-section{
    display: flex;
}

.container-left-section-style{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.left-section-front-image{
    display: flex;
    position: relative;
}

.front-image{
    display: flex;
}

.front-image-logo{
    display: flex;
    width: 15%;
    position: absolute;
    left: 50px;
    top: 40px;
}

.front-image-SC{
    display: flex;
    position: absolute;
    top: 60%;
    left: 10%;
    width: 100%;
    font-size: 30px;
    color: white;
}

.front-image-text{
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 10%;
    top: 82%;
    width: 66%;
    color: white;
    font-size: 14px;
}

.left-section-back-image{
    display: flex;
    position: relative;
    margin-left: 70px;
}

.back-image{
    display: flex;
}

.back-image-text{
    display: flex;
    position: absolute;
    right: 14%;
    top: 46%;
    color: white;
    font-weight: bold;
    font-size: 16px;
}



.container-right-section{
    display: flex;   
}

.container-right-section-style{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 400px;
}

.right-section-name{
    display: flex;
    font-size: 12px;
    font-weight: bold;
}

.right-section-input-text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 94%;
    height: 35px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.right-section-input-text::placeholder{
    font-size: 16px;
    color: rgb(200, 200, 200);
}

.right-section-date{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 30px;
}

.right-section-date-left{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.date-text{
    display: flex;
    font-size: 12px;
    font-weight: bold;
}

.date-left-input{
    display: flex;
    width: 40px;
    height: 35px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.date-left-input::placeholder{
    font-size: 16px;
    color: rgb(200, 200, 200);
}

.right-section-date-right{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.date-right-input{
    display: flex;
    width: 240px;
    height: 35px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 15px;
}

.date-right-input::placeholder{
    font-size: 16px;
    color: rgb(200, 200, 200);
}


.right-section-pos-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.right-section-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 45px;
    border: none;
    border-radius: 7px;
    background-color: rgb(40, 0, 60);
    color: white;
    font-size: 16px;
    font-weight: 550;
    cursor: pointer;
}




@media (max-width:1020px) {

    
    
}