body{
    margin: 0;
    font-family: Arial;
}

.body-back-style{
    display: flex;
    flex-grow: 1;
    position: fixed;
    width: 550px;
    height: 780px;
    left: -80px;
    border-radius: 50%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background-color: blueviolet;
}


.container{
    display: flex;
    position: absolute;
    top: 120px;
    left: 405px;
}

.container-style{
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 580px;
    background-color: white;
    border-radius: 28px;
    padding: 15px;
    -webkit-box-shadow: 0 0 32px 20px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 32px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 32px 20px rgba(0, 0, 0, 0.1);
}

.tele-upper-chat{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 90px;
    border-top-right-radius: 28px;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: blueviolet;
}

.tele-upper-chat-contain{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.phone-camera{
    display: flex;
    position: absolute;
    align-self: center;
    width: 160px;
    height: 22px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
}

.con-image{
    width: 30px;
    margin-left: 10px;
    border-radius: 50%;
    border: 3px solid white;
}

.con-name-text{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    color: white;
    line-height: 20px;
}


.con-name-text-style1{
    font-size: 14px;
}

.con-name-text-style2{
    font-size: 10px;
    color: gainsboro;
}

.more-op{
    color: white;
    margin-left: 60px;
}



.body-chat{
    display: flex;
    flex-direction: column;
}

.body-chat-style{
    display: flex;
    background-color: rgb(240, 240, 240);
    height: 480px;
    border-radius: 28px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 15px;
}

.left-messeages{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: flex-start;
}

.left-messeage-style{
    display: flex;
    align-items: center;
    line-height: 16px;
    align-items: center;
    width: 160px;
    height: 30px;
    padding: 7px;
    padding-left: 12px;
    border-radius: 15px;
    border-bottom-left-radius: 5px;
    background-color: rgb(240, 225, 240);
    margin-bottom: 8px;
}

.left-messeage-text-style{
    font-size: 12px;
    color: rgb(180, 20, 180);
}

.right-messeages{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 220px;
    right: 30px;
    align-items: flex-end;
}

.right-messeages-style{
    display: flex;
    align-items: center;
    line-height: 16px;
    width: 160px;
    height: 30px;
    border-radius: 15px;
    border-bottom-right-radius: 5px;
    background-color: white;
    margin-bottom: 8px;
    padding: 7px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0,0.2);
}

.right-messeages-style2{
    display: flex;
    align-items: center;
    line-height: 16px;
    width: 105px;
    height: 20px;
    border-radius: 15px;
    border-bottom-right-radius: 5px;
    background-color: white;
    margin-bottom: 12px;
    padding: 7px;
    padding-left: 12px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0,0.2);
}

.right-messeage-text-style{
    font-size: 12px;
    color: black;
}

.dog-pictures{
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin-top: -8px;
    margin-bottom: 8px;
}

.dog-pictures-style{
    width: 45px;
    border-radius: 10px;
}

.left-messeages-part2{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: flex-start;
    top: 370px;
}

.left-messeages-style-2{
    display: flex;
    align-items: center;
    line-height: 16px;
    align-items: center;
    width: 160px;
    height: 45px;
    padding: 7px;
    padding-left: 12px;
    border-radius: 15px;
    border-bottom-left-radius: 5px;
    background-color: rgb(240, 225, 240);
    margin-bottom: 12px;
}

.left-messeage-text-style-2{
    font-size: 12px;
    color: rgb(180, 20, 180);
}


.payment-way{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    margin-bottom: 8px;
}

.payment-way-style{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    border-bottom-left-radius: 5px;
    background: rgb(180,0,200);
    background: linear-gradient(90deg, rgba(180,0,200,1) 20%, rgba(60,80,200,1) 100%);
}

.Circle{
    margin-left: 3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid white;
}

.radio-space{
    width: 15px;
    height: 15px;
    margin-left: 0px;
    margin-top: 0px;
}

.Time{
    color: rgb(240, 225, 240);
    margin-left: 10px;
    font-size: 12px;
}

.how-much{
    margin-right: 15px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}


.typing-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    margin-left: -3px;
}

.typing-text-style{
    width: 230px;
    height: 35px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}

.typing-text-style::placeholder{
    font-size: 11px;
    padding-left: 20px;
    color: rgb(200, 200, 200);
}

.more-op-for-txt{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 33px;
    left: 198px;
    width: 28px;
    height: 28px;
    background-color:black;
    color: white;
    font-weight: bold;
    font-size: 12px;
    border-radius: 50%;
    cursor: pointer;
}


.Text-body-booking{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 850px;
    margin-top: 230px;
}

.Text-body-booking-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 480px;
    height: 300px;
}

.text-body-booking-style1{
    font-size: 45px;
    color: rgb(40,40,100);
}

.text-body-booking-style2{
    font-size: 18px;
    line-height: 26px;
    color: rgb(170, 170, 170);
}

.body-back-style2{
    position: fixed;
    width: 550px;
    height: 780px;
    margin-right: -90px;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: rgba(240, 225, 240,0.4);
}