body{
    font-family: Arial;
    background-color: rgb(0, 20, 50);
    margin: 0;
}

.background-image{
    display: flex;
    position: fixed;
    bottom: 0;
}

.background-image-style{
    display: flex;
    width: 100vw;
    height: 50vh;
    cursor: auto;
}


.container{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-style{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 5px;
    width: 1100px;
    height: 250px;
}

.left-side{
    display: flex;
}

.left-side-style{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: 200px;
    background-color: rgb(25, 35, 110);
    border-radius: 15px;
    border-top-right-radius: 50%;
}

.left-side-obj{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-top: 35px;
    width: 180px;
}

.left-side-obj-back{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 20, 50);
    width: 50px;
    height: 45px;
    border-radius: 10px;
}



.right-side{
    display: flex;
}

.right-side-style{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 600px;
    height: 140px;
    margin-left: 35px;
    border-radius: 10px;
    background-color: rgb(25, 35, 110);
}

.right-side-text{
    display: flex;
    margin-top: 30px;
    margin-left: 40px;
    color: rgb(220, 220, 220);
    font-size: 15px;
    font-weight: 400;
}

.Comp-tape-container{
    display: flex;
    width: 520px;
    height: 20px;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: rgb(25, 35, 80);
}

.Comp-tape-orange{
    display: flex;
    width: 380px;
    height: 15px;
    background: #ffdc96;
    background: -webkit-linear-gradient(90deg, #ffdc96 0%, #ff95b3 100%);
    background: linear-gradient(90deg, #ffdc96 0%, #ff95b3 100%);
    border-radius: 20px;
    margin-top: 2px;
    margin-left: 2px;
}

.Comp-tape-ball{
    display: flex;
    width: 10px;
    height: 10px;
    background-color: white;
    margin-left: -14px;
    margin-top: 4px;
    border-radius: 50%;
}


.right-side-GBsize{
    display: flex;
    margin-left: 40px;
    margin-top: 5px;
    justify-content: space-between;
    width: 520px;
}

.right-side-GBsize-style{
    color: rgb(220, 220, 220);
    font-size: 12px;
    font-weight: 600;
}


.GB-left{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 105px;
}

.GB-left-style{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 70px;
    background-color: white;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
}

.GB-left-text{
    display: flex;
    align-items: center;
    font-weight: 500;
    color: gray;
}

.triangle{
    display: block;
    background-color: white;
    width: 30px;
    height: 40px;
    position: absolute;
    bottom: -39px;
    right: -0.1px;
    clip-path: polygon(10% 0%, 100% 0%, 101% 70%);
}