.text{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 200px;
    margin-bottom: 100px;
    font-size: 30px;
    color: #FFF;
}


.container{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.container-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
}

.top-battery{
    width: 20%;
    height: 10px;
    background-color: #323131;
    border-start-start-radius: 5px;
    border-start-end-radius: 5px;
}

.battery{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 40%;
    height: 130px;
    border: 4px solid #323131;
}

.include{
    width: 100%;
    animation: charging 5s infinite linear;
}

@keyframes charging {
    
    0%{height: 1%; background-color: red;}
    25%{height: 25%; background-color: red;}
    50%{height: 50%; background-color: orange;}
    70%{height: 75%; background-color: yellow}
    90%{height: 100%; background-color: lime;}
    100%{height: 1%; background-color: red;} 
}