.text{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 200px;
    margin-bottom: 100px;
    font-size: 30px;
    color: #FFF;
}


.container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.container-style{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10%;
    width: 80%;
}

.container-style > div{
    width: 120px;
    height: 120px;
    background: #5271ff;
    background: -webkit-linear-gradient(90deg, #5271ff 0%, #e1e1e1 100%);
    background: linear-gradient(90deg, #5271ff 0%, #e1e1e1 100%);
    margin-bottom: 10%;
    cursor: pointer;
    transition: all 0.50s;
}

.first-elem:hover{
    border-radius: 50px;
}

.sec-elem:hover{
    border-radius: 25% 10%;
}

.third-elem:hover{
    border-radius: 10% 30% 50% 70%;
}

.fourth-elem:hover{
    border-radius: 50% 20%;
}

.fifth-elem:hover{
    border-radius: 50%;
}











@media (max-width:800px) {

}