.container{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 100px;
}

.container-style{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    gap: 100px;
}

.project{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    background-image: url('../images/Project.png');
    border-radius: 20px;
    transition: all 0.50s;
    cursor: pointer;
}

.GoTo{
    display: none;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: #5271ff;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.50s;
    animation-name: slide-in;
    animation-duration: 0.2s;
}

.GoTo:hover{
    color: white;
    background-color: #5271ff;
    box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.1);
}

.project:hover .GoTo{
    display: flex;
    box-shadow: 0px 0px 55px 55px rgba(0, 0, 0, 0.3);
}

@keyframes slide-in {
    from {width: 0px;height: 0px;}
    to {width: 150px; height: 40px;}
}

.container2{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.container2-style{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.back, .next, .num{
    font-size: 18px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.num1{
    font-size: 18px;
    text-decoration: none;
    color: #5271ff;
    cursor: pointer;
}

.num:hover, .num1:hover{
    text-decoration: underline;
}

.dash{
    font-size: 18px;
}












.trying{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/Project.png');
    width: 250px;
    height: 250px;
}

.trying:hover .GoTo{
    display: flex;
}