.container{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 100px;
}

.container-style{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    gap: 100px;
}

.project{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 20px;
    transition: all 0.50s;
}

.img{
    display: flex;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    transition: all 0.50s;
}

.GoTo{
    display: none;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: #5271ff;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.50s;
    animation-name: slide-in;
    animation-duration: 0.2s;
}

.GoTo:hover{
    color: white;
    background-color: #5271ff;
    box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.1);
}

.img:hover{
    filter: blur(3px);
}

.GoTo:hover .img{
    filter: blur(3px);
}

.project:hover .GoTo{
    display: flex;
}

@keyframes slide-in {
    from {width: 0px;height: 0px;}
    to {width: 150px; height: 40px;}
}