body{
    margin: 0;
    font-family: Marko One;
}

.ten-lines{
    margin-bottom: 200px;
}

.desktop-background-image{
    display: flex;
    position: absolute;
    object-fit: cover;
    background-repeat: no-repeat;
    width: 1519px;
    cursor: auto;
}

.mobile-background-image{
    display: none;
}

.first-container{
    display: flex;
    justify-content: center;
}

.first-container-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.first-container-logo{
    margin-bottom: 40px;
}

.first-container-text1{
    font-size: 26px;
    margin-bottom: 15px;
    color: rgb(60, 60, 60);
}

.first-container-text2{
    width: 550px;
    text-align: center;
    font-size: 14px;
    font-weight: 10;
    margin-bottom: 30px;
    color: rgb(180, 180, 180);
}

.first-container-buttons{
    display: flex;
    justify-content: space-between;
    width: 380px;
}

.first-container-IOS-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: rgb(80, 200, 160);
    color: white;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0px 6px 12px 2px rgb(80, 200, 160,0.4);
    transition: 0.50s all;
}

.first-container-IOS-button:hover{
    background-color: rgb(60, 180, 140);
}

.first-container-Mac-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: rgb(0, 140, 200);
    color: white;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0px 6px 12px 2px rgb(0, 140, 200,0.3);
    transition: 0.50s all;
}

.first-container-Mac-button:hover{
    background-color: rgb(0, 120, 180);
}


.sec-container{
    display: flex;
    justify-content: center;
}

.sec-container-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.sec-container-text1{
    display: flex;
    font-size: 24px;
    color: rgb(60, 60, 60);
    margin-bottom: 20px;
}

.sec-container-text2{
    display: flex;
    font-size: 14px;
    width: 610px;
    text-align: center;
    color: rgb(180, 180, 180);
    font-weight: 100;
}



.third-container{
    display: flex;
    margin-top: 120px;
}

.third-container-style{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1350px;
}

.third-container-image-style{
    margin-left: -30px;
    display: flex;
    cursor: auto;
}

.third-container-right-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    width: 360px;
}

.third-container-right-side-text1{
    display: flex;
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(60, 60, 60);
}

.third-container-right-side-text2{
    font-size: 14px;
    color: rgb(180, 180, 180);
}



.fourth-container{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.fourth-container-style{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fourth-container-text1{
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(60, 60, 60);
}

.fourth-container-text2{
    font-size: 14px;
    color: rgb(180, 180, 180);
    width: 610px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 80px;
}



.fifth-container{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}


.sixth-container{
    display: flex;
    justify-content: center;
}

.sixth-container-style{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sixth-container-text1{
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(60, 60, 60);
}

.sixth-container-text2{
    font-size: 14px;
    color: rgb(180, 180, 180);
    width: 610px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 120px;
}


.sixth-container-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
}

.sixth-container-row-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 200px;
}

.sixth-container-row-image{
    margin-bottom: 20px;
    width: 40px;
}

.sixth-container-row-text1{
    margin-bottom: 10px;
    font-size: 22px;
    color: rgb(60, 60, 60);
}

.sixth-container-row-text2{
    width: 320px;
    font-size: 14px;
    line-height: 22px;
    color: rgb(180, 180, 180);
}



.seventh-container{
    display: flex;
    justify-content: center;
}

.seventh-container-style{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    align-items: center;
    margin-bottom: 200px;
}

.seventh-container-image{
    display: flex;
}


.eighth-container{
    display: flex;
    justify-content: center;
}

.eighth-container-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 180px;
}


.nineth-container{
    display: flex;
    justify-content: center;
}

.nineth-container-style{
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 150px;
    align-items: center;
    width: 1700px;
    height: 150px;
    background-color: rgb(245, 245, 245);
}

.nineth-container-logo-style{
    display: flex;
    width: 60px;
}

.nineth-container-footer{
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-left: -150px;
}

.nineth-container-footer-text{
    color: rgb(180, 180, 180);
    font-weight: 500;
    cursor: pointer;
    transition: 0.50s all;
}

.nineth-container-footer-text:hover{
    color: rgb(80, 200, 160);
}

.nineth-container-SM-logos{
    display: flex;
    justify-content: space-between;
    width: 120px;
}

