body{
    margin: 0;
    font-family: Roboto;
    background-color: rgb(54, 56, 77);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.container-style{
    display: flex;
    justify-content:space-between;
    padding-left: 1%;
    padding-right: 1%;
    align-items: center;
    width: 80%;
    height: 620px;
    border-radius: 20px;
    background-color: white;
}