body{
    font-family: Noto Sans Vai;
    background-color: rgb(230, 230, 230);
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 110px;
    transition: all 0.50s;
}

.container-style{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 570px;
    border-radius: 10px;
    transition: all 0.50s;
}


/* left */

.left-sec{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 40%;
    color: white;
    background-color: rgb(200, 120, 0);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 0.50s;
}

.image{
    display: flex;
    margin-top: 60px;
    margin-left: 50px;
    margin-bottom: 40px;
}

.image1{
    width: 100%;
}

.Text{
    display: flex;
    flex-direction: column;
    margin-left: 12%;
    margin-bottom: 200px;
    transition: all 0.50s;
}

.text-style1{
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: bold;
}

.text-style2{
    color: gainsboro;
    width: 70%;
    height: 60px;
    line-height: 26px;
}

.button-dierection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.button-style{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: 17px;
    color: rgb(200, 120, 0);
    cursor: pointer;
    transition: 0.50s all;
}

.button-style:hover{
    color: white;
    border: 2px solid white;
    background-color: rgb(200, 120, 0);
}



/* middle */

.mid-sec{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 40%;
    background-color: rgb(30, 150, 160);
    color: white;
    transition: all 0.50s;
}

.button-mid{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

.button-style-mid{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: 17px;
    color: rgb(30, 150, 160);
    cursor: pointer;
    transition: 0.50s all;
}

.button-style-mid:hover{
    color: white;
    border: 2px solid white;
    background-color: rgb(30, 150, 160);
}

/* right */

.right-sec{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 40%;
    background-color: rgb(0, 80, 60);
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.50s;
}

.button-right{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-top: -25px;
}

.button-style-right{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: 17px;
    color: rgb(0, 80, 60);
    cursor: pointer;
    transition: 0.50s all;
}


.button-style-right:hover{
    color: white;
    border: 2px solid white;
    background-color: rgb(0, 80, 60);
}




@media (max-width:800px) {
    

.container{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    transition: all 0.50s;
}

.container-style{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 120%;
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
    border-radius: 10px;
    transition: all 0.50s;
}

.left-sec{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgb(200, 120, 0);
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all 0.50s;
}

.button-dierection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12%;
    margin-bottom: 30px;
    transition: all 0.50s;
}

.mid-sec{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    background-color: rgb(30, 150, 160);
    color: white;
    transition: all 0.50s;
}

.right-sec{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    background-color: rgb(0, 80, 60);
    color: white;
    border-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.50s;
}

}