body{
    margin: 0;
    font-family: Roboto;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    transition: all 0.50s;
}

.container_style{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 450px;
    background-color: white;
    border-radius: 25px;
    gap: 20px;
    transition: all 0.50s;
}

.image1{
    display: flex;
    width: 60px;
}

h1{
    display: flex;
    text-align: center;
    width: fit-content;
    padding: 0% 10%;
    font-size: 45px;
    margin: 0;
    color: rgb(59, 56, 82);
}

p{
    margin: 0;
    text-align: center;
    font-size: 16px;
    color: rgb(60, 60, 60);
    width: fit-content;
    padding: 0% 10%;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 40px;
    border: none;
    background-color: rgb(59, 56, 82);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.50s all;
}

.btn:hover{
    background-color: rgb(255, 89, 103);
    box-shadow: 0px 8px 20px 3px rgba(255, 89, 103, 0.5);
}



@media (max-width:800px) {
    
.container{
    margin: 0px;
}

.container_style{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    background-color: white;
    border-radius: 0px;
}

}