.container{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 100px;
}

.container-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    gap: 100px;
}

.img{
    display: flex;
    border-radius: 50%;
    width: 20%;
    cursor: pointer;
    transition: 0.50s all;
}

.img:hover{
    border: 8px solid #5271ff;
}



@media (max-width:800px) {
    
.img{
    width: 40%;
}

}












